Präregistrierung/*

Data/**
!Data/**/.gitignore

Code/Python/venv/
Code/Python/__pycache__/
Code/Matlab/ICA_quality_check.m

Results/

*.xlsx

*.pptx

*.jpg

*.asv

*.Rproj.user/
.Rhistory
.Rproj.user
